.flex {
  display: flex;
}

.h200 {
  height: 200px;
}

.h500 {
  height: 500px;
}

.jc-fs {
  justify-content: flex-start;
}

.bor-outline-red {
  outline: solid 1px red;
}

.bor-red {
  border: solid 1px red;
}

